.user {
  text-align: right;
  width: 98.5%;
  height: 100%;
  font-size: 80%;
  display: flex;
  align-items: center;
  justify-content: right;
  margin-right: 1.5%;
  font-weight: lighter;
}

.user img {
  width: 3%;
  margin-right: 0.5%;
}
